*body{
    margin: 0;
    padding: 0;
}

.navigation{
    background-color: rgb(20, 23, 23);
    text-shadow: 2ch;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

a{
    color: aqua;
    text-decoration: none;
}